
extends layout

block content
  include intro

  h2 Authentication
  p We need to authenticate you to upload files to this WordPress.com site.
  p There are two steps: first get an authentication code, then convert it to a token.

  p.msg
    a(href=url) Let's get the code!
