
extends layout

block content
  include intro

  h2 Ready to request the access token
  p We got the code, and now we just need to exchange it for an access token.

  p.msg
    a(href='/get_token/' + code) Let's get the token!
